body{
	background-color: #222f3e;
	font-family: 'Montserrat', sans-serif;
}

#container{
	background-color: #111e2d;
	width: 1000px;
	min-height: 720px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	background-color: #111e2d;
	width: 335px;
	height: 100px;
	float: left;
	border-right: 15px solid #16a085;
	
}

#logo h1 {
	color: #16a085;
	margin-top: 20px;
	text-indent: 35px;
	text-transform:uppercase;
	font-size: 40px;
	padding-top: 5px;
	
}

.ll {
	color: #ffffff;
	font-size: 30px;
}

#logo:hover {
	cursor: pointer;
}

#menu {
	background-color: #8395a7;
	width: 650px;
	height: 100px;
	float: left;
	font-variant: small-caps;
	font-size: 17px;
}

.option {
	float: right;
	padding: 20px;
	border-right: 2px dotted #36c285;
	margin-top: 20px;
	padding-left: 30px;
	padding-righ: 30px;
	font-weight: 500;
}

#specialoption {
	border-right: none;
}

.option:hover {
	background-color: #7284a6;
	cursor: pointer;
}

a {
	color: #ffffff;
	text-decoration: none; 
	
}



#header {
	background-color: #16a085;
	color: white;
	height: 64px;
	width: 1000px;
	font-size: 32px;
	padding-top: 6px;
	margin-top: 20px;
	font-weight: 600;
	text-indent: 23px;
}

#little {
	color: white;
	font-size: 16px;
	font-weight: 300;
	text-indent: 23px;
	display: block;
	margin-top: -2px;
}

#window {
	background-color: #d2dae2;
	width: 500px;
	height: 400px;
	float: left;
}

#window iframe {
	background-color: #808e9b;
	width: 460px;
	height: 360px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 0px 0px 2px #363636;
	border: none;
	
}

#rectangle {
	background-color: #d2dae2;
	width: 500px;
	height: 400px;
	float: left;
}

.text {
	background-color: #d2dae2;
	height: 270px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 35px;
	font-size: 16px;
	text-align: justify;
}



.title {
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
	text-indent: 0px;
	font-size: 20px;
	
}

#rectangle ul {
	margin-top: 25px;
}

.go-to {
	text-align: right;
	color: #000000;
	margin-top: -65px;
	padding-right: 40px;
	margin-bottom: 45px;
	font-size: 35px;
	height: 20px;
}

.go-to:hover {
	cursor: pointer;
}

#button {
	background-color: #f1f2f6;
	height: 80px;
	display: flex;
    align-items: center;
	border-right: 15px solid #16a085;
	padding-left: 10px;
}


#button label {
	color: #27b196;
	font-weight: 800;
	font-size: 40px;
	text-transform:uppercase;
	display: flex;
    align-items: center;
	height: 80px;
}

/*
#button:hover {
	cursor: pointer;
	border-right: 15px solid #cf6a87;
}
*/

/*
#button label:hover {
	cursor: pointer;
}
*/

#button input[type=checkbox] {
	position: absolute;
	left: ;
	opacity: 0;
	height: 80px;
	width: 500px;
	z-index: 100;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
	padding: 0px;
	background-color: gray;
	cursor: pointer;
}

#button label input[type=checkbox]:checked + .icon-heart  {
	filter: hue-rotate(150deg);
	color: red !important;

}

.container {
	background-color: #c1cad1;
	width: 1000px;
	min-height: 300px;
	margin-top: 20px;
}

.article {
	background-color: #f1f2f6;
	height: 300px;
	width: 450px;
	float: left;
	margin: 25px;
	color: #000000;
}

.article:hover {
	background-color: #ffffff;
	cursor: pointer;
}

.image {
	background-color: #808e9b;
	width: 175px;
	height: 260px;
	margin: 20px;
	float: left;
	box-shadow: 0px 0px 4px #363636;
	border: none;
}

.image img {
	width: 175px;
	height: 260px;
}

.article-title {
	font-weight: 500;
	margin-bottom: 20px;
	display: block;
	font-size: 18px;
	margin-top: 20px;
}

.article-text {
	float: left;
	width: 205px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 20px;
}

.right {
	text-align: right;
	margin-top: 10px;
	font-size: 20px;
}

#footer {
	background-color: #000000;
	padding: 10px;
	text-align: right;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

#contact-header {
	background-color: #16a085;
	color: white;
	width: 1000px;
	font-size: 72px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
	padding-top: -30px;
	padding-bottom: -30px;
}

#contact-container {
	background-color: #d2dae2;
	width: 950px;
	min-height: 200px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.input {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-top: ;
	height: 40px;
	width: 220px;
	border: none;
	border-right: 10px solid #16a085;
	background-color: #ffffff;
	text-indent: 5px;
	font-size: 15px;
}

#contact-container textarea {
	width: 900px;
	height: 250px;
	resize: none;
	border: none;
	border-top: 3px solid #16a085;
	border-bottom: 3px solid #16a085;
	font-size: 15px;
	text-indent: 5px;
	font-family: 'Montserrat', sans-serif;
	color: #363636;
}

#submit {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: px;
	margin-top: 5px;
	height: 40px;
	width: 225px;
	border: none;
	background-color: #ffffff;
	text-indent: 5px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

#submit:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #16a085;
}

#about-me-header {
	background-color: #16a085;
	color: white;
	width: 1000px;
	font-size: 72px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
	padding-top: -30px;
	padding-bottom: -30px;
}

#about-me-container {
	background-color: #d2dae2;
	width: 1000px;
	min-height: 200px;
	padding: 0px;
}

#about-me-image-container {
	background-color: #d2dae2;
	width: 450px;
	height: 450px;
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 35px;
	float: left;
}

#about-me-image-container img {
	border-radius: 50%;
	width: 370px;
	height: 370px;
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
	
}


#about-me-text-container {
	font-family: 'Montserrat', sans-serif;
	background-color: #d2dae2;
	width: 450px;
	height: 300px;
	margin-top: 95px;
	margin-right: 35px;
	margin-bottom: 0px;
	margin-left: 15px;
	float: left;
	
}

#about-me-text-container h3 {
	color: #16a085;
	font-weight: 500;
	margin-left: 25px;
	font-size: 21px;
	margin-top: 5px;
}

#about-me-text-container p {
	font-weight: 400;
	margin-left: 50px;
	text-align: justify;
	font-size: 17px;
	margin-bottom: 0px;
}

#article-container {
	background-color: #d2dae2;
	width: 1000px;
	min-height: 200px;
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 40px;
}

#article-image {
	background-color: #ffffff;
	width: 768px;
	height: 432px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align: right;
}

#image-date {

	font-weight: 300;
	font-size: 15px;
	font-style: italic;
	margin-top: -1px;
}

#article-text {

}

#article-text h3 {
	margin-top: ;
	margin-left: 30px ;
	margin-bottom: 0px;
	margin-right: 25px;
	font-weight: 600;
	font-size: 30px;
}

#article-date {
	margin-left: 30px;
	font-weight: 300;
	font-size: 15px;
	font-style: italic;
	margin-top: -1px;

}

#article-text p {
	text-align: justify;
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 0px;
	margin-right: 50px;
	font-weight: 400;
	font-size: 18px;
}

#article-text h4 {
	text-align: justify;
	margin-top: 60px;
	margin-left: 99px;
	margin-bottom: -18px;
	margin-right: 50px;
	font-weight: 600;
	font-size: 22px;
}

.article-mark {
	color: #16a085;
	text-decoration: underline;
}





